body {
    background-color: rgba(34, 38, 47, 1);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: rgba(45, 52, 70, 1);
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    color: #FFFFFF;
    padding: 10px 0;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgba(217, 152, 22, 1); 
}

.sidebar a:hover {
    background-color: rgba(217, 152, 22, 1); 
}

.content {
    padding: 20px;
    max-width: 1300px;
}

.footer {
    background-color: #2D313A;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    margin: 0 10px;
}

.table {
    color: #FFFFFF;
    background-color: #2e2e3a;
    border-radius: 5px;
    overflow: hidden;
}

.table th, .table td {
    vertical-align: middle;
}

.table .btn {
    background-color: #d4a017;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
}

.table .btn:hover {
    background-color: #9F7A2F;
}

.modal-content {
    background-color: rgba(45, 52, 70, 1);
    color: #FFFFFF;
}

.modal-header {
    border-bottom: 1px solid rgba(217, 152, 22, 1);
}

.modal-header .btn-close {
    color: #FFFFFF;
}

.modal-body {
    padding: 20px;
}

.modal .form-control {
    background-color: rgba(68, 71, 85, 1);
    color: #FFFFFF;
}

.modal .form-control:focus {
    background-color: rgba(85, 89, 106, 1);
    color: #FFFFFF;
}

.modal .btn-success {
    background-color: rgba(217, 152, 22, 1);
    border-color: rgba(217, 152, 22, 1);
}

.modal .btn-success:hover {
    background-color:  rgba(85, 89, 106, 1);
    border-color:  rgba(85, 89, 106, 1);
}
