body {
    background-color: rgba(34, 38, 47, 1);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.navigation {
    position: fixed;
    height: 100vh;
    background: #2D313A;
    width: 300px;
    box-shadow: 10px 0 0 #2D313A;
    border-left: 10px solid #2D313A;
    overflow-x: hidden;
    transition: 0.2s;
}

.navigation ul li {
    margin-top: 20px;
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active {
    background: #9F7A2F;
}

.content {
    padding: 20px;
    margin-left: 300px;
    max-width: 800px; 
    margin: 30px auto; 
    flex-grow: 1;
}

.content h2 {
    color: #9F7A2F;
}

p {
    color: #FFFFFF; 
}

.card {
    background-color: #2e2e3a;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card .btn btn-primary {
    background-color: #d4a017;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.card .btn:hover {
    background-color: #9F7A2F;
}

.footer {
    background-color: #2D313A;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;          
    left: 0;            
    width: 100%;        
}

.footer a {
    color: #fff;
    margin: 0 10px;
    
}

/* Media Queries para tornar a página responsiva */
@media (max-width: 768px) {
    .navigation {
        width: 200px; 
    }

    .content {
        margin-left: 200px; 
        padding: 15px; 
    }

    .navigation ul li a .title {
        font-size: 0.9rem; 
    }
}

@media (max-width: 576px) {
    .navigation {
        width: 100%; 
        height: auto; 
        position: relative; 
    }

    .content {
        margin-left: 0; 
        padding: 10px; 
    }

    .card {
        padding: 15px; 
    }

    .card .btn {
        padding: 8px 16px; 
    }

    .navigation ul li {
        margin-top: 20px; 
    }
}
