/* Ícones de coração */
.fa-heart {
    font-size: 1.5rem;
    cursor: pointer;
}
.fa-heart.text-danger {
    color: red;
}
.fa-heart.text-white {
    color: white;
}

.main-content {
    background-color: rgba(45, 52, 70, 1);
    border: 1px solid #1b1a1a;
    border-radius: 15px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.main-content h2 {
    color: #D99816; 
    font-weight: bold;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    color: white; 
    border-radius: 15px; 
    overflow: hidden; 
}

.main-table thead th {
    background-color: rgba(34, 38, 47, 1); 
    color: white; 
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #444;
}

.main-table tbody td {
    padding: 10px;
    border-bottom: 10px solid rgba(45, 52, 70, 1); 
}
