body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgba(34, 38, 47, 1);
    color: #ffffff;
}

.container {
    background-color: rgba(34, 38, 47, 1);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.header .login-btn {
    background-color: #f0a500;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    font-weight: normal;
}

.about-section .text {
    max-width: 50%;
    font-weight: normal;
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: normal; 
}

.about-section .cta-btn {
    background-color: #f0a500;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal; 
}

.about-section .image {
    position: relative;
}

.about-section .image img {
    border-radius: 50%;
    width: 320px; 
    height: 250px; 
    object-fit: cover;
    position: relative; 
    z-index: 1; /* Coloca a imagem acima da elipse */
}

.about-section .ellipse {
    width: 295px; 
    height: 297px; 
    position: absolute; 
    top: 50%; 
    left: 13px; 
    transform: translateY(-50%); 
    border-radius: 50%; 
    background: rgba(217, 152, 22, 1); 
    z-index: 0; /* Coloca a elipse abaixo da imagem do atleta */
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.feature {
    background-color: rgba(45, 52, 70, 1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 14px;
}

.footer {
    background-color: rgba(45, 52, 70, 1);
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 59.07px; 
    height: 57px; 
    opacity: 1; 
}
