body {
    background-color: rgba(34, 38, 47, 1); 
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 220px; 
    padding: 20px;
    min-height: 100vh;
}

.card {
    background-color: rgba(45, 52, 70, 1)!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFFFFF; 
}

.card input[type="text"], 
.card input[type="number"], 
.card input[type="date"], 
.card input[type="password"], 
.card input[type="email"] {
    background-color: rgba(85, 89, 106, 1);
    color: #FFFFFF;
    border: 1px solid rgba(217, 152, 22, 1); 
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.card label {
    color: rgba(217, 152, 22, 1); 
    font-weight: bold;
}

.card input[type="text"], 
.card input[type="number"], 
.card input[type="date"], 
.card input[type="password"], 
.card input[type="email"] {
    height: 45px;
    font-size: 16px;
}

.btn-custom {
    background-color: rgba(217, 152, 22, 1) !important; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
}

.btn-custom:hover {
    background-color: rgba(217, 152, 22, 0.8);
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }

    .card {
        padding: 15px;
    }
}
