{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/criarPartidas.css' %}">

    <title>Crie sua partida</title>
</head>

<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <nav class="navigation">
            <a href=""><img src="{% static 'img/logo-comprido.png' %}" alt="Logo" width="150" class="mb-4"></a>
            <ul>
                <li class="list active">
                    <a href="{% url 'home' %}">
                        <span class="icon"><ion-icon name="football-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'criarPartidas' %}">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">Crie uma partida</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'visualizarPartidas' %}">
                        <span class="icon"><ion-icon name="football-outline"></ion-icon></span>
                        <span class="title">Listar quadras e eventos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                        <span class="title">Gerenciar quadras</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Encontre uma partida</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Minhas Reservas</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Meu perfil</span>
                    </a>
                </li>
                <hr>
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
            </ul>
        </nav>

        <!-- Content -->
        <div class="content flex-grow-1">
            <h2>Selecione o local da partida</h2>

            {% for quadra in quadras %}
            <div class="card">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p>{{ quadra.nome }}<br>{{ quadra.endereco }}<br>{{ quadra.bairro }}</p>
                        <p style="color: #9F7A2F;">{{ quadra.telefone }}</p>
                    </div>
                    <div>
                        <p>{{ quadra.endereco }}</p>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#reservaModal">Reservar</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="footer">
        <img src="{% static 'img/logo-comprido.png' %}" alt="Logo" width="120" class="mb-4"></a>
        <p>Nos acompanhe nas redes sociais</p>
        <div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/menu.js' %}"></script>

</html>