{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="container-footer">
        <div class="footer-content">
            <h3>Entre em contato</h3>
            <p>Email: blá@gmail.com</p>
            <p>Telefone: 19-988566489</p>
            <p>Endereço: endereço qualquer</p>
        </div>

        <div class="footer-content">
            <ul class="list">
                <h3>Links úteis</h3>
                <p>home</p> 
            </ul>
        </div>
        <div class="footer-content">
            <h3>Nos siga nas redes sociais</h3>
            <ul class="social-icons">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="botton-bar">
        <p>&copy your company. </p>
    </div>
</footer>