{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="container-footer">
        <div class="footer-content">
            <h3>Entre em contato</h3>
            <p>Email: contato@sportsync.com</p>
            <p>Telefone: (19) 91234-5678</p>
            <p>Endereço: Rua Jarbas Leme Godoy, 875 - Jd. José Ometto II - CEP: 13606-389 - Araras - SP</p>
        </div>

        <div class="footer-content">
            <ul class="list">
                <h3>Links úteis</h3>
                <li><a href="">Home</i></a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Nos siga nas redes sociais</h3>
            <ul class="social-icons">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="botton-bar">
        <p>&copy Sportsync</p>
    </div>
</footer>