<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <!-- Montserrat aqui -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" href="{% static 'img/logo-home.png' %}">
</head>


<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="{% static 'img/logo-home.png' %}" alt="Logo Home" />
            </div>
            <nav>
                <a href="#">Início</a>
                <a href="#">Sobre nós</a>
                <a href="criarPartidas">
                    <button class="login-btn">Entrar</button>
                </a>
            </nav>
        </header>

        <section class="about-section">
            <div class="text">
                <h2>SportSync</h2>
                <p id="texto-sobre-nos">
                    Com a SportSync, organizar e participar de eventos esportivos ficou mais fácil e rápido. Nossa
                    plataforma foi desenvolvida para
                    simplificar a vida de atletas e organizadores. Em uma interface intuitiva, você acessa tudo que
                    precisa para registrar e visualizar partidas, facilitando a gestão e a participação em eventos
                    esportivos.

                    <br><br>Conecte-se ao esporte e facilite o planejamento com a SportSync!
                </p>
                <button class="cta-btn">Comece já</button>
            </div>
            <div class="image">
                <div class="ellipse"></div>
                <img src="{% static 'img/atleta-home.png' %}" alt="Athlete in starting position" />
            </div>
        </section>

        <section class="features">
            <div class="feature">
                <h3>Gestão Simples e Eficiente</h3>
                <br>
                <p>Acesse ferramentas completas para organizar eventos, agendar partidas e gerenciar inscrições de forma
                    prática.</p>
            </div>
            <div class="feature">
                <h3>Inscrição Rápida Eventos Esportivos</h3>
                <br>
                <p>Atletas têm acesso rápido a todos os eventos disponíveis, simplificando a participação e o
                    engajamento no esporte.</p>
            </div>
            <div class="feature">
                <h3>Gerenciamento Centralizado de Quadras e Ambientes</h3>
                <br>
                <p>Organizadores podem gerenciar quadras e espaços esportivos diretamente na plataforma.</p>
            </div>
        </section>
    </div>
    {% include "footer.html" %}
</body>

</html>